/*
	Nuestra hoja de estilos principal

	1- Reset - resetear estilos del user-agent (navegador)
	2- Etiquestas - dar estilo base a todos los tags
	3- Clases comunes 
	4. Layouts - secciones de la web (cabecera, menus, pies, etc.)
	5. Media querys - Responsive web Design
*/	

*{
	margin:0;
	padding:0;
}

body {
    
    font-family: 'Roboto', sans-serif;
    /* las comas del font-family, se intenta cargar primero una fuente, si no encuentra la siguiente, etc */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
   
    background-color: #fff;
}



footer#pie_main{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #DDD;
	padding: 20px;
	margin-top: 30px;
}

main.content{
	
	margin:auto;
	max-width:1024px;
	padding:0;
	margin-bottom:200px; /* Revisar luego */
}

p{
	margin-bottom: 1em;
	text-align: left;
	margin-left: 4em;
	margin-right: 4em;
}
h1, h2, h3{
	margin-bottom: 1em;
	margin-top: 1em;
	
}
h2, h3{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

img{
	width: 100%;
	height: auto;
}

ol, ul{
	list-style-type: none;
}

a {
    color: #0358d8;
    text-decoration: underline;
}
.volver{
	position: fixed;
	bottom: 15%;
	right: 3%;
	text-shadow: 2px 2px 8px black;
	
}
a:hover{
	color: #d86c5c;
}


label{

color: #003580;
margin-right: 15px;
}

label:after{
	content: ":";
}

label.obligatorio:before{
	content: "(*)";

}
input[type="text"], input[type="number"], input[type="email"]{

	border: none;
	border-bottom: 2px solid black;
	padding: 5px 10px;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus{
	font-size: 120%;

}

input[type="text"]:invalid, input[type="number"]:invalid, input[type="email"]:invalid{
	color: red;

}

input[type="text"]:valid, input[type="number"]:valid, input[type="email"]:valid{
	color: green;

}

input[type="submit"], input[type="reset"]{
	background-color: #003580;
	color: #FFF;
	border: none;
	border-radius: 10px;
	padding: 5px 15px;
	
}

input[type="submit"]:hover{
	background-color: #6995d4;

}

input[type="reset"]{
	background-color: orange;
	
}
input[type="reset"]:hover{
	background-color: red;
	
}

.twitter{
	color: #1da1f2;
}
.facebook{
	color: #3b5998;
}
.instagram{
	color: #ca3eaa;
}

/* *************************** */



header#principal{
	color: #FFF;
	background-color: #003580;
	width:100%;
}
div.ipartek{
	width:100%;
	background-image: linear-gradient(#85e4e4, #003580);
    
}
div.ipartek div.content{
	max-width: 1024px;
	margin:auto;
}

div.menu{
	width:100%;
	border-bottom: 1px solid #DDD;
	background: #f7f7f7;
}

div.menu nav{
	max-width: 1024px;
	margin: auto;
	
}


div.menu nav ul{
	display:flex;
	flex-direction: row; /* valor por defecto */


}
div.menu nav ul li{
	margin-right: 1em;
}
div.menu nav ul li:last-child{
	margin-right: 0;
}
header#principal div.content{
	padding:1em;
}
header#principal h1.content{
	font-family: 'Roboto', sans-serif;
	
}

header ul{
	list-style-type: none;	
	padding: 1em;
	font-family: 'Roboto', sans-serif;
}

header ul li a{
	color: #003580;
	text-decoration: none;
	margin: 0;
	padding: 1em;
	transition-duration: .2s;
}

header ul li a:hover{
	color: white;
	background-color: #003580;

}
footer {
	margin-right: 10%;
}
footer #rrss{
	float: right;
	margin-right: 10%;
}

.active{
	background-color:navy;
	color:white;
}

/* --------- MEDIA QUERYS --------------*/

/*--- movil ---*/

@media (max-width: 700px) {

	#rrss a, p, li, a, .menu a{
		font-size: 85%;
	}
	.content h1, h2, h3{
		font-size: 90%;
	}

}
